body{
    font-family: 'Playfair Display ','Times New Roman', sans-serif;
    color: #000000;
    line-height: 1.8em;
    font-size:inherit;
    text-align:center;
}
table,td {
    border: 1px solid black;
  }
table{
    width:300px;
    height: 300px;
}
td{
    width: 6em;
    height: 6em;
}
